.team {
  background: url("../img/team/team.jpg") center center / cover no-repeat;
  position: relative;

  &__container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    background: rgba(#2f3234, 0.93);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include tablets {
      left: 0;
      text-align: center;
      flex-direction: column;
    }
  }

  &__content {
    padding-left: 30px;

    @include tablets {
      padding-left: 0;
    }

    @include phones {
      padding-left: 0;
    }
    &-wrap {
      height: 0;
      overflow: hidden;
      transition: 2s;
    }
  }
}

.section-title_team {
  @extend %title;
  margin-bottom: rem(50px);

  @include phones {
    font-size: rem(50px);
    margin-bottom: 6%;
  }
}

.acco {
  &__item {
    margin-bottom: rem(35px);

    @include phones {
      margin-bottom: 7%;
    }
  }

  &__trigger {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Gagalin;
    font-size: rem(14px);
    font-weight: 400;
    margin-bottom: rem(10px);

    @include tablets {
      display: inline-flex;
      font-size: rem(24px);
    }

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: rem(6px) solid transparent;
      border-top-color: $yellow;
      border-bottom-width: 0px;
    }
  }

  &__descr {
    color: white;
    font-size: 14px;
    margin-left: rem(20px);
    display: flex;
    flex-direction: column;

    @include tablets {
      margin-left: 0;
    }

    @include phones {
      margin-left: 0;
    }
  }

  &__title {
    font-family: Ubuntu;
    font-weight: 700;

    @include tablets {
      margin-bottom: rem(20px);
    }
  }

  &__text {
    font-family: "Ubuntu Light";
    font-weight: 300;
    display: flex;
    text-align: start;
    max-width: rem(300px);

    @include tablets {
      text-align: center;
    }
  }

  &__content {
    display: flex;
    height: 0;
    overflow: hidden;

    @include tablets {
      flex-direction: column;
    }
  }
  &__pict {
    @include tablets {
      margin-bottom: rem(20px);

      @include phones {
        margin-bottom: 0;
      }
    }
  }
}

.acco__item--active {
  .acco__content {
    height: auto;
  }
  .acco__trigger {
    color: $yellow;

    &:before {
      transform: rotate(180deg);
    }
  }
}
