

.drop-menu {
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    background-color: rgba(47, 50, 52, 0.99);
    opacity: 0.99;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    &--active{
        display: block;
    }
    @include phones {
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }

}

.drop-menu__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(40px);
}

.close {
    width: rem(60px);
    height: rem(60px);
    display: flex;
    position: relative;
}

.close__cross {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    width: rem(30px);
    height: rem(5px);
    background-color: white;
    margin: auto;
}

.close__cross--1 {
    transform: rotate(45deg);
}

.close__cross--2 {
    transform: rotate(-45deg);
}

.drop-menu__nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.navigation__list-drop {
    display: flex;
    flex-direction: column;
}

.navigation__item--drop {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(20px);

}

.navigation__link--drop {
    margin-bottom: rem(20px);
    font-size: rem(23px);
    font-family: ubuntu;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.667;

    &:hover {
        color: red;
    }
}
